@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 193 67% 92%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 47 100% 70%;
    --primary-foreground: 47 100% 10%;
    --secondary: 193 50% 85%;
    --secondary-foreground: 215 28% 17%;
    --muted: 193 50% 88%;
    --muted-foreground: 215 25% 45%;
    --accent: 33 100% 63%;
    --accent-foreground: 33 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 193 50% 85%;
    --input: 193 50% 88%;
    --ring: 33 100% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 193 67% 92%;
    --card: 215 28% 17%;
    --card-foreground: 193 67% 92%;
    --popover: 215 28% 17%;
    --popover-foreground: 193 67% 92%;
    --primary: 47 100% 70%;
    --primary-foreground: 47 100% 10%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 193 67% 92%;
    --muted: 215 28% 25%;
    --muted-foreground: 193 50% 88%;
    --accent: 33 100% 63%;
    --accent-foreground: 33 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 33 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
